<<<<<<< HEAD
body {margin: 0px;}
@media (max-width: 320px) {
  .container0-1 {
    overflow:auto;
  }
  .container1-1 {
    background-color: rgb(254, 254, 254);
    padding: 1vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .logo1-1 {
    width: 50px;
  }
  .container2-1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .help1-1,
  .premium1-1,
  .discover1-1,
  .download1-1 {
    text-decoration: none;
    font-size: 20%;
    margin-left: 2vh;
  }
  .container3-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .concert {
    width: 100%;
  }
  .title-1 {
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 90%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
  .text-1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20% ;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
  .text-2 {
    font-family:'Times New Roman', Times, serif, 'Arial Narrow', Arial, sans-serif;
    font-size: 20%;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
  .container4-1{
    display: flex;
    justify-content: center;
  }
  .title-2 {
    align-self: center;
    font-size: 40%;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline green;
    text-underline-offset: 1vh;
    text-decoration-thickness: 0.5vh ;
  }
  .sound  {
    width: 10%;
  }
=======
body {
    margin: 0;
}

@media (max-width: 320px) {
    .container0-1 {
        overflow: auto;
    }

    .container1-1 {
        background-color: rgb(254, 254, 254);
        padding: 1%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .logo1-1 {
        width: 50px;
    }

    .container2-1 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .help1-1,
    .premium1-1,
    .discover1-1,
    .download1-1 {
        text-decoration: none;
        font-size: 20%;
        margin-left: 2vh;
    }

    .container3-1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
    }

    .concert {
        width: 100%;
    }

    .title-1 {
        color: rgb(255, 255, 255);
        font-size: 90%;
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        top: 30%;
    }

    .text-1,
    .text-2 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 10%;
        font-weight: 100;
        color: white;
    }

    .text-1 {
        position: absolute;
        top: 50%;
    }

    .text-2 {
        position: absolute;
        top: 55%;
    }

    .container4-1 {
        background-color: rgb(255, 255, 255);
        width: 100%;
        
    }

    .container4-2 {
        display: flex;
    }

    .text-3 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 60%;
        text-decoration: underline rgb(1, 183, 1);
        text-decoration-thickness: 0.5vh;
        text-underline-offset: 2vh;
    }
    .sound,
    .quality,
    .device {
        width: 5%;
    }


    .box-1 {
        display: flex;
        flex-flow: row wrap;
        
        
    }

    .container-image {

       
    }
    .text-4 {
        font-size:5%;
        width: 3vh;
    }

    .title-2 {
        font-size:10%;
        width: 33vh;
        color: rgb(1, 239, 17);
        font-weight: 900;
        font-family: Arial, Helvetica, sans-serif;
    }
    .container5-1 {
        background-color: green;
        width: 100%;
        height: 20vh;
        margin-top: 10%;
    }
>>>>>>> c176194a29bae51b71ddebc21b04c1089c846bff
}
