@media (max-width: 320px) {
    .container0-1{
        overflow: hidden;
    }
    .container1-1 {
        background-color: rgb(254, 254, 254);
        margin: 0px;
        padding: 1%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .logo1-1 {
        width: 50px;
    }

    .container2-1 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .help1-1,
    .premium1-1,
    .discover1-1,
    .download1-1 {
        text-decoration: none;
        font-size: 20%;
        margin-left: 1vh;
    }

    .container3-1 {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .concert {
        width: 100%;

    }

    .title-1 {
        color: rgb(218, 35, 35);
        font-size: 70%;
        position:absolute;
        top:30%;
        left: 50%;
        transform: translate(-50% , -50%);
        -webkit-transform: translate(-50% , -50%);
        -moz-transform: translate(-50% , -50%);
        -ms-transform: translate(-50% , -50%);
        -o-transform: translate(-50% , -50%);
        text-shadow: 0 0 8px;
}

    .text-1,
    .text-2 {

        font-size: 20%;
        color: rgb(221, 0, 0);

    }
}