body {
    margin: 0;

    & header {
        padding: 15px;
        text-align: center;

        & img {
            width: 163px;
            height: 50px;
        }

        & nav {
            & a {
                text-decoration: none;
                color: black;
                margin: 0 5px;
            }
        }
    }

    & main {
        & #container-img {
            height: 650px;
            background-image: url(./imagenes/landing.jpg);
            background-size: cover;
            background-position: center;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;

            & article {
                text-align: center;

                & h1 {
                    font-size: 40px;
                }
            }
        }

        & .containerArticles {
            text-align: center;

            & .text {
                font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
                font-weight: 700;
                text-decoration: underline rgb(24, 174, 24);
                text-underline-offset: 7px;
            }

            & section {
                display: flex;
                justify-content: space-around;

                & article {
                    padding: 10px 45px 0 60px;
                    height: 200px;
                    text-align: -webkit-center;
                }

                & .contentArticle {
                    width: 100px;
                    margin-top: 80px;

                    & .photo {
                        width: 75px;
                    }

                    & .title {
                        margin: 0px;
                        color: rgb(10, 151, 10);
                    }

                    & p {
                        margin: 10px 0 0 0;
                    }
                }
            }
        }
    }

    & footer {

        margin-top: 150px;
        background-color: rgb(47, 198, 47);
        width: 90%;
        margin: 0;
        height: 500px;
        position: relative;
        left: 10vh;

        & .container-footer {
            color: white;
            display: flex;
            flex-direction: column;

        }


    }
}



/* Mobile */
@media (width <=320px) {
    header {
        & nav {
            margin-top: 10px;
        }
    }

    main {
        & .containerArticles {
            & section {
                flex-direction: column;
            }
        }
    }
}

/* Tablet */
@media (321px < width < 720px) {
    header {
        & nav {
            margin-top: 10px;
        }
    }

    & main {
        & .containerArticles {
            & section {
                flex-direction: column;

                & article {
                    & .contentArticle {
                        width: auto;

                        & .photo {
                            height: 70px;
                        }
                    }
                }
            }
        }
    }
}

/* Deskop */
@media (width > 721px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    main {
        & .containerArticles {
            & section {
                & article {
                    & .contentArticle {
                        display: flex;
                        flex-flow: column nowrap;
                        align-items: center;
                        text-align: center;

                        & .photo {
                            height: 70px;
                            width: auto;
                        }

                        & .title {
                            font-size: 20px;
                            width: 153px;
                            margin: 10px 0 0 0;
                        }

                        & p {
                            width: 148px;
                            margin: 20px 0 0 0;
                        }
                    }
                }
            }
        }
    }
}