body {
    margin: 0;

    & header {
        padding: 15px;
        text-align: center;

        & img {
            width: 163px;
            height: 50px;
        }

        & nav {
            & a {
                text-decoration: none;
                color: black;
                margin: 0 5px;
            }
        }
    }

    & main {
        & #containerImg {
            height: 400px;
            background-image: url(./imagenes/landing.jpg);
            background-size: cover;
            background-position: center;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;

            & article {
                text-align: center;

                & h1 {
                    font-size: 36px;
                }
            }
        }

        & .containerArticles {
            text-align: center;

            & section {
                display: flex;
                justify-content: space-around;

                & article {
                    padding: 10px 45px 0 60px;
                    height: 200px;
                    text-align: -webkit-center;
                }

                & .contentArticle {
                    width: 100px;

                    & .photo {
                        width: 75px;
                    }

                    & .title {
                        margin: 0px;
                    }

                    & p {
                        margin: 10px 0 0 0;
                    }
                }
            }
        }
    }
}

/* Mobile */
@media (width <=320px) {
    header {
        & nav {
            margin-top: 10px;
        }
    }

    main {
        & .containerArticles {
            & section {
                flex-direction: column;
            }
        }
    }
}

/* Tablet */
@media (321px < width < 720px) {
    header {
        & nav {
            margin-top: 10px;
        }
    }

    & main {

        & .containerArticles {
            & section {
                flex-direction: column;

                & article{
                    height: 150px;
                    & .contentArticle{
                        width: auto;
                    }
                }
            }
        }
    }
}

/* Deskop */
@media (width > 721px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}

/* section {
    background-image: url(./imagenes/landing.jpg);


} */