.contenedor-imagenes {
    display: flex;
    justify-content: space-between; /* Distribuye el espacio entre las imágenes */
    align-items: center; /* Centra verticalmente las imágenes y el texto */
  }
  
  .imagen-con-texto {
    text-align: center; /* Centra horizontalmente el texto */
    margin: 10px; /* Espacio entre cada imagen y texto */
  }
  