body{margin: 0px;}

header {
    background-color: red;
    height: 15vh;
}

nav {
    background-color: blue;
    height: 7.5vh;
}

section {
    background-color: pink;
    height: 62.5vh;
    width: 50%;
    float: left;
}

aside {
    background-color: violet;
    height: 62.5vh;
    width: 40%;
    float: right;
}

footer {
    background-color: green;
    height: 15vh;
    clear: both;
}