.container {
    width: 200px;
    height: 200px;
    margin: 105px 0 0 205px;
    border: solid whitesmoke 5px;
    border-radius: 1000px;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    -ms-border-radius: 1000px;
    -o-border-radius: 1000px;
    background-color: red;

}

.diana {
    border-radius: 1000px;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    -ms-border-radius: 1000px;
    -o-border-radius: 1000px;
}

.diana-1 {
    width: 196px;
    height: 196px;
    border: solid gainsboro 3px;
    position: absolute;
    top: 109px;
    left: 217px;
}

.diana-2 {
    width: 166px;
    height: 166px;
    border: solid white 14px;
    position: absolute;
    top: 113px;
    left: 221px;
}

.diana-3 {
    width: 95px;
    height: 95px;
    border: solid white 20px;
    position: absolute;
    top: 141px;
    left: 250px;
}

.diana-4 {
    width: 25px;
    height: 25px;
    border: solid white 20px;
    position: absolute;
    top: 175px;
    left: 285px;
}

.diana-5 {
    width: 200px;
    height: 0px;
    border: solid 1px black;
    position: absolute;
    top: 206px;
    left: 217px;

}
.diana-6{
    width: 0px;
    height: 200px;
    border: solid 1px black;
    position: absolute;
    top: 109px;
    left: 317px;
}